* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'),
         url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'),
         url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff');
}

:root {
    --grey-color: #ECECEC;
    --white-color: #FFF;
    --black-color: #000;
    --gray-color: #333;
    --light-violet-color: #9D5CD0;
    --violet-color: #7943A4;
    --hover-violet-color: #C283F3;
}

html,
body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: var(--white-color);
    overflow-x: hidden;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: var(--white-color);
}

.text-reset {
    margin: 0;
    padding: 0;
}

.btn {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    color: var(--white-color);
}

.input {
    border: none;
    color: var(--white-color);
    cursor: pointer;
}

.container {
    margin: 0 auto;
    max-width: 1630px;
    padding: 0 15px;
}

.title {
    font-weight: 400;
    font-size: 48px;
    color: var(--gray-color);
}

.link:focus, 
.btn:focus,
.input:focus,
.header__bot-form:focus,
.header__bot-item:focus {
    outline: 2px solid var(--violet-color);
}

.link:hover {
    color: var(--hover-violet-color);
}

.link:active {
    outline: none;
    color: var(--violet-color);
}

.link,
.btn,
.input {
    -webkit-transition: color .2s ease, background .2s ease, border .2s ease, -webkit-box-shadow .2s ease;
    transition: color .2s ease, background .2s ease, border .2s ease, -webkit-box-shadow .2s ease;
    -o-transition: color .2s ease, background .2s ease, border .2s ease, box-shadow .2s ease;
    transition: color .2s ease, background .2s ease, border .2s ease, box-shadow .2s ease;
    transition: color .2s ease, background .2s ease, border .2s ease, box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.header {
    position: relative;
    background:rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.header::before {
    content: '';
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--black-color);
    z-index: -1;
}

.header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 29px;
    padding-bottom: 29px;
}

.header__top-logo {
    margin-right: 180px;
}

.header__top-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__top-item:not(:last-child) {
    margin-right: 62px;
}

.header__top-link {
    font-weight: 600;
}

.header__top-button {
    margin-left: auto;
    padding-left: 18px;
    color: var(--white-color);
    background: url('../img/enter.svg') no-repeat left center;
    background-color: transparent;
}

.header__top-button:hover {
    color: var(--hover-violet-color);
    background-image: url('../img/enter-violet.svg');
}

.header__top-button:active {
    color: var(--violet-color);
    background-image: url('../img/enter-active.svg');
}

.header__bot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 26px;
    padding-bottom: 23px;
}

.header__bot-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header__bot-item {
    cursor: pointer;
    position: relative;
}

.header__bot-item-button {
    padding-right: 14px;
    background: url('../img/arrow.svg') no-repeat right;
}

.header__bot-item:not(:last-child) {
    margin-right: 99px;
}

.header__bot-item-button:hover  {
    color: var(--light-violet-color);
    background-image: url('../img/arrow-violet.svg');
}

.header__bot-item-button:focus {
    background-image: url('../img/arrow-active.svg');
    color: var(--violet-color);
    outline: none;
}

.header__bot-item-list {
    display: none;
    padding: 40px;
    position: absolute;
    top: 46px;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.header__bot-item-list-item:not(:last-child) {
    margin-bottom: 20px;
}

.header__bot-item-list-item {
    min-width: 220px;
    padding: 10px 14px;
    background: url('../img/birmingham-museums.jpg') no-repeat center;
}

.header__bot-item-list-item:nth-child(1) {
    background: url('../img/birmingham-museums-second.png') no-repeat center;
    background-size: cover;
}

.header__bot-item-list-item:nth-child(2) {
    background: url('../img/birmingham-museums-third.png') no-repeat center;
    background-size: cover;
}

.header__bot-item-list-item:nth-child(3) {
    background: url('../img/birmingham-museums.jpg') no-repeat center;
    background-size: cover;
}

.header__bot-item-list-item:nth-child(4) {
    background: url('../img/birmingham-museums-second.png') no-repeat;
    background-size: cover;
}


.header__bot-item-list-item:hover {
    outline: 2px solid var(--light-violet-color);
}

.header__bot-item-list-item:active {
    outline: 2px solid #D1A9F0;
    background: -o-linear-gradient(bottom, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.header__bot-form {
    margin-left: auto;
    cursor: pointer;
}

.header__bot-form:hover > .header__bot-input {
    border-color: var(--hover-violet-color);
}

.header__bot-form:hover > .header__bot-search {
    background-image: url('../img/search-violet.svg');
}

.header__bot-input {
    width: 222px;
    border-bottom: 1px solid var(--white-color);
    background: transparent;
    caret-color: var(--hover-violet-color);
}

.header__bot-input:focus::-webkit-input-placeholder {
    color: transparent;
}

.header__bot-input:focus::-moz-placeholder {
    color: transparent;
}

.header__bot-input:focus:-ms-input-placeholder {
    color: transparent;
}

.header__bot-input:focus::-ms-input-placeholder {
    color: transparent;
}

.header__bot-input:focus::placeholder {
    color: transparent;
}

.header__bot-input::-webkit-input-placeholder {
    color: var(--white-color);
}

.header__bot-input::-moz-placeholder {
    color: var(--white-color);
}

.header__bot-input:-ms-input-placeholder {
    color: var(--white-color);
}

.header__bot-input::-ms-input-placeholder {
    color: var(--white-color);
}

.header__bot-input::placeholder {
    color: var(--white-color);
}

.header__bot-search {
    padding-bottom: 5px;
    width: 23px;
    height: 22px;
    background: url('../img/search.svg') no-repeat;
}

.customScroll {
    width: 300px;
    max-height: 300px;
}

.simplebar-scrollbar {
  background-color: var(--hover-violet-color);
}

.simplebar-scrollbar::before {
    left: 0;
    right: 0;
    border-radius: 0;
}

.simplebar-track.simplebar-vertical {
    top: 40px;
    height: 220px;
    width: 2px;
    margin-right: 19px;
    background-color: var(--black-color);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
    top: 0;
    bottom: 0;
}

.banner {
    position: relative;
}

.banner__background {
    margin-top: -71px;
    position: absolute;
    top: 0;
    left: 0;
    height: 702px;
    width: 100%;
    background: url('../img/birmingham-museums.jpg') no-repeat;
    animation: 10s scale infinite;
    z-index: -1;
}

.banner__text {
    padding-top: 71px;
    padding-bottom: 123px;
    font-weight: 700;
}

.banner__title {
    width: 580px;
    margin-bottom: 22px;
    font-size: 72px;
}

.banner__description {
    width: 565px;
    margin-bottom: 90px;
    line-height: 30px;
}

.banner__button {
    padding: 25px 35px;
    border-radius: 100px;
    background: var(--light-violet-color);
    font-weight: inherit;
}

.banner__button:focus {
    outline: none;
    -webkit-box-shadow: 0 0 0 3px var(--violet-color);
            box-shadow: 0 0 0 3px var(--violet-color);
}

.banner__button:hover {
    -webkit-box-shadow: 0 0 0 3px #D1A9F0;
            box-shadow: 0 0 0 3px #D1A9F0;
}

.banner__button:active {
    background-color: var(--violet-color);
}

.about {
    padding-top: 85px;
    padding-bottom: 70px;
}

.about__text {
    color: var(--gray-color);
}

.about__title {
    margin-bottom: 21px;
}

.about__description {
    width: 1080px;
    line-height: 32px;
    font-size: 16px;
}

.gallery {
    background: url('../img/birmingham-museums-gallery.jpg') no-repeat;
}

.gallery__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 85px;
    padding-bottom: 80px;
}

.gallery__left-column-title {
    color: var(--white-color);
    margin-bottom: 29px;
}

.gallery__select-text {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
}

.gallery__left-column {
    position: relative;
    max-width: 400px;
    margin-right: 50px;
}

.gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.gallery__item {
    position: relative;
    min-width: 350px;
    max-height: 350px;
    cursor: pointer;
}

.gallery__item::before {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    height: 300px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.gallery__item:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/zoom.png');
}

.gallery__item:active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--hover-violet-color);
    opacity: 0.4;
}

.gallery__item:nth-child(1),
.gallery__item:nth-child(2),
.gallery__item:nth-child(4),
.gallery__item:nth-child(5) {
    margin-right: 50px;
}

.gallery__item:nth-child(1),
.gallery__item:nth-child(2),
.gallery__item:nth-child(3) {
    margin-bottom: 50px;
}

.choices {
    width: 400px;
    font-weight: 400;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: transparent;
}

.choices > .choices__inner {
    font-size: 16px;
    border: 1px solid var(--white-color);
    border-radius: 6px;
    background-color: transparent;
}

.choices > .choices__list {
    background-color: transparent;
    color: #999999;
    border: 1px solid #999999;
}

.choices__list:not(:first-child) {
    border-radius: 6px;
}

.choices[data-type*=select-one]::after {
    border-color: var(--white-color) transparent transparent;
}

.choices[data-type*=select-one].is-open::after {
    border-color: transparent transparent var(--white-color);
}

.gallery__left-column-text {
    position: absolute;
    bottom: -12px;
    left: 0;
    font-weight: 600;
    line-height: 32px;
    font-size: 16px;
}

.gallery__left-column-text-link {
    color: var(--light-violet-color);
}

.swiper-pagination {
    width: initial;
    position: initial;
    text-align: initial;
    margin-right: 18px;
    font-size: 16px;
}

.swiper-wrapper {
    height: unset;
}

.swiper-panel {
    padding: 21px 0 28px 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gallery__arrow {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: var(--grey-color);
    border-radius: 50%;
    margin-right: 18px;
}

.gallery__arrow:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--violet-color);
}

.gallery__arrow:hover {
    background-color: var(--light-violet-color);
}

.gallery__arrow:hover::before,
.gallery__arrow:hover::after {
    background-color: var(--white-color);
}

.gallery__arrow:active,
.gallery__arrow:active {
    background-color: var(--violet-color);
}

.gallery__arrow::before, 
.gallery__arrow::after {
    content: '';
    position: absolute;
    height: 7px;
    width: 1px;
    background-color: var(--black-color);
}

.gallery__arrow::before {
    top: 9px;
    left: 14px;
    transform: rotate(45deg);
}

.gallery__arrow::after {
    top: 14px;
    left: 14px;
    transform: rotate(135deg);
}

.arrow-next {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

@-webkit-keyframes scale {
    0%{
        -webkit-transform: scale(0,0.0,0);
                transform: scale(0,0.0,0);
    }
    50%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(0,0.0,0);
                transform: scale(0,0.0,0);
    }
}

@keyframes scale {
    0%{
        -webkit-transform: scale(0,0.0,0);
                transform: scale(0,0.0,0);
    }
    50%{
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(0,0.0,0);
                transform: scale(0,0.0,0);
    }
}